# Allow-list: ignore everything, then un-ignore tracked paths.
*
!*/

!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!MEMORIES.md
!dub.sdl

!.github/
!.github/**

!source/
!source/**
!docs/
!docs/**
!changelog-details/
!changelog-details/**

.dub/
dub.selections.json
*.exe
*.dll
*.lib
*.obj
*.pdb
*.exp
*.o
*.a
*.log
